<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>express-final-test</title>
</head>

<body>
  <header>
    {{!-- navigation --}}
    <nav>
      <div class="nav-left"><a class="home" href="http://localhost:3000/">回到首頁</a></div>

      <div class="nav-right">
        <a class="about" href="http://localhost:3000/about">About</a>
        <a class="portfolio" href="http://localhost:3000/portfolio">Portfolio</a>
        <a class="contact" href="http://localhost:3000/contact">Contact</a>
      </div>
    </nav>
  </header>

  {{{body}}}
  
</body>

</html>